@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

body {
  color: #1b1b1b;
}

.custom-img {
  min-height: 500px;
  width: 100%;
  background-image:linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.20)), url('../public//kantor.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clip-polygon{
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 45% 100%, 0 70%);
}